---
---

@import "{{ site.theme }}";


/* Your custom overrides */
body {
  color: #2e2e2e;
}

/* Fix the dark grey coming from Slate */
dl, dd {
  color: #A3A7B2;
  margin: 0;
  padding: 0;
}

p {
  color: #A3A7B2;
}

h1, h2, h3 {
  color: #F5F6FA;
}